.input{
    padding: 10px 18px;
    border: 1px solid #1b1b1b;
    outline: 0;
    background-color: transparent;
    border-radius: 8px;
    width: 85%;
    color: #e3e3e3;
    transition: 0.3s;
}
.input:focus{
    border: 1px solid #e058786c;
}