.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    height: 70px;
    background-color: #000;
    border-bottom: 0.5px solid #1b1b1b;
}

.header h1{
    color: #e05877;
    cursor: pointer;
}

.header button{
    border-radius: 40px;
    border: 1px solid #e05877;
    padding: 5px 20px;
    background-color: #000;
    color: #e05877;
    font-size: 15px;
    outline: 0;
    transition: 0.5s;
}
.header button:hover{
    transform: scale(1.05);
    cursor: pointer;
    filter: drop-shadow(0px 0px 50px #e0587873);
    background-color: #e05877;
    color: #fff;
}
